

.section {
	border: 2px solid black;
	padding: 5%;
	margin: 5%;
	height: 400px;
}

 .navbar-brand,
.navbar-nav li {
  	margin-bottom:0px;
}

.navbar {
	border-bottom: 1px solid grey;
}

.row {
	margin: 20px;	
}

.future {
	padding: 20px;
	height: 400px;
	border: 2px solid black;
}

.name {
	margin: 12px;
}
