body {	
	background: #cecece;
}

.section {
	border: 2px solid black;
	padding: 5%;
	margin: 5%;
	height: 400px;
}

 .navbar-brand,
.navbar-nav li {
  	margin-bottom:0px;
}

.navbar {
	border-bottom: 1px solid grey;
	background: #ececec;
}

.nav-tabs {
	border: 0px solid black;
}

.row {
	margin: 20px;	
}

.future {
	padding: 20px;
	height: 400px;
	border: 2px solid black;
	background: #fff;
}

.name {
	margin-top: 8px;
	margin-right: 10px;
}

.navbar-right {
	margin-top: 10px;
}

form {	
}

.text-center {
	margin-top: 40px;
}

img {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 40%;
}
